<ion-view view-title="">
    <ion-content overflow-scroll="false">
        <div style="display:flex;width:100%;">
            <div class="head" style="width: 5%;font-size: .6em">期号</div>
            <div style="overflow: hidden;white-space: nowrap;width:100%;">
                <ion-scroll direction="x" scrollbar-x="true" overflow-scroll="false" has-bouncing="false"
                            delegate-handle="headContainerHandle" on-scroll="noScroll()" style="margin-top:0;">
                    <div style="display:flex;">
                        <div class="head" style="width: 12%;font-size: .6em">开奖号</div>
                        <div class="head" style="width: 18%">开奖分布</div>
                        <div class="head" style="width: 18%">百位</div>
                        <div class="head" style="width: 18%">十位</div>
                        <div class="head" style="width: 18%">个位</div>
                        <div class="head" style="border-right:0; width: 18%">和尾</div>
                    </div>
                </ion-scroll>
            </div>
        </div>
        <div style="display:flex;width:625px;">
            <ion-scroll direction="y" scrollbar-y="false" overflow-scroll="false" has-bouncing="false"
                        delegate-handle="leftContainerHandle" on-scroll="noScroll()" style="height:{{h}}px;">
                <div ng-repeat="d in data" class="head">
                    {{d.zoneName}}
                </div>
            </ion-scroll>
            <div style="overflow: hidden;white-space: nowrap;width:100%;">
                <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false"
                            has-bouncing="false" on-scroll="scrollRightHorizon()" delegate-handle="rightContainerHandle"
                            style="height:{{h}}px;">
                    <div style="width:500px;">
                        <div ng-repeat="d in data" style="display:flex;">
                            <div class="head">
                                {{d.arriveTickets}}
                            </div>
                            <div class="head">
                                {{d.moniOutCnt}}
                            </div>
                            <div class="head">
                                {{d.moniStayCnt}}
                            </div>
                            <div class="head">
                                {{d.moniUndeliveryCnt}}
                            </div>
                            <div class="head">
                                {{d.moniUndeliveryCnt}}
                            </div>
                            <div class="head" style="border-right:0;">
                                {{d.moniUndeliveryCnt}}
                            </div>
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
</ion-view>
