<ion-view view-title="全部订单">
    <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/account" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background: #eee;">
      <ion-list class="all-orders-list">
        <div class="each-order" ng-click="toOrderDetail(order.ticketID)" ng-repeat="order in allOrders">
          <ion-item href="">
              <span ng-cloak>{{order.lotteryID}}</span>
              <span class="fr" ng-class="order.whetherRed?'font-style1':'font-style3'" ng-cloak>{{order.status}}</span>
          </ion-item>
          <img ng-show="order.status=='已中奖'?true:false" class="prize-img" src="./img/getPrize.png" />
          <ion-item href="">
            <div class="fl">
                <p ng-class="order.whetherRed?'font-style1':'font-style3'" ng-cloak>{{order.LT}}</p>
                <p class="font-style2" ng-cloak>订单编号:{{order.ticketID}}</p>
              </div>
              <div class="fr">
                <p  ng-class="order.whetherDate?'font-style3':'font-style1'" ng-cloak>{{order.RT}}</p>
                <p class="font-style4 fr">查看订单</p>
              </div>
          </ion-item>
        </div>

        </div>
        <div class="prize-records-all">
          <img src="./img/completeInfoSucceed.png" />
          <p>兑换多多才会中奖多多哦~~</p>
        </div>

      </ion-list>
    </ion-content>
</ion-view>