<ion-view view-title="大乐透">
    <ion-nav-bar class="bar bar-header bar-lightBlue ">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
    </ion-nav-bar>

    <div class="bar bar-subheader ">
        <div class="row h44">
            <a class="button icon icon-left ion-ios-plus-empty col btn-30 " href="" ng-click="manualAdd()">手动添加</a>
            <a class="button icon icon-left ion-ios-plus-empty col btn-30" href="" ng-click=autoAdd()>随机添加</a>
        </div>
    </div>

    <ion-content class="content-160">
        <div>
            <ul class="list betting-detail-ul">
                <li class="item item-button-left item-button-right" ng-repeat="liItem in sessionJsonWarp track by $index">
                    <a class="button button-clear " ng-click="deleteRow($index)">
                        <i class="icon ion-android-close dark"></i>
                    </a>
                    <div class="betting-num num-bg-red">
                        <i ng-repeat="redItem in liItem.red" ng-bind="redItem.num"></i>
                    </div>
                    <div class="betting-num num-bg-blue">
                        <i ng-repeat="blueItem in liItem.blue" ng-bind="blueItem.num"></i>
                    </div>
                    <a class="button button-clear" href="" ng-click="editThisOrder($index)">
                        <i class="icon ion-ios-arrow-right dark"></i>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>

    <ion-footer-bar class=" betting-detail-footer" style="height: 155px;">
        <div>
            <p>
                投注
                <label class="padding-left">
                    <input class="bigLotto-input1 " type="text" ng-model="multiple"/>
                </label> 倍
            </p>
            <p style="height: 35px;">
                金额：
                <span class="font-red" ng-cloak>{{totalMoney * multiple * countMoney}}</span> 元 &nbsp;
                <label class="checkbox" ng-show="newStatus==true?false:true">
                    <input class="bigLotto-input2" type="checkbox" checked disabled />追加 (每注3元)
                </label>
            </p>
            <button class="button button-block button-liner-gradiend" ng-click="showOrderAlertCms(res)"
                    style="font-size: 16px;" ng-disabled="isDisabled">
                确认提交
            </button>
        </div>

    </ion-footer-bar>
</ion-view>

