<ion-view view-title="大乐透">

    <!--<ion-nav-bar class="bar bar-header bar-lightBlue ">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
    </ion-nav-bar>-->

    <ion-content class=" scroll-bottom">
        <div class="row advert-img">
            <div class="col">
                <img src="./img/title-img2.png" alt="">
            </div>
        </div>

        <div class="rabbitRules">
            距<span>{{reques.wareIssue | limitTo: -3}}</span>期截止：<ins>{{hours}}时{{minute}}分{{second}}秒</ins>
            <a href="#bigRabbitRules" >玩法说明</a>
        </div>

        <div class="num-sum-red">
            <i
                ng-repeat="redNumRed in numDataRed"
                ng-class="{false: 'red-ball-bg-white', true: 'red-ball-bg-red'}[redNumRed.check]"
                ng-click="addRedClick(redNumRed)" ng-cloak>
                {{redNumRed.num}}
            </i>
        </div>
        <div class="num-sum-blue">
            <i
                ng-repeat="blueNumBlue in numDataBlue"
                class="blue-ball-bg-white"
                ng-class="{false: 'blue-ball-bg-white', true: 'blue-ball-bg-blue'}[blueNumBlue.check]"
                ng-click="addBlueClick(blueNumBlue)" ng-cloak>
                {{blueNumBlue.num}}
            </i>
        </div>
    </ion-content>


    <div class=" order-btns">
        <div class="row">
            <div class="col col-67">
                <h4>请选择你要兑换的大乐透号码</h4>
                <p>(点击号码球可自选号码)</p>
            </div>
            <div class="col col-33">
                <img src="./img/random.png" alt="" ng-click="randomBall()">
            </div>
        </div>

        <div class="row" style="height: 50px">
            <div class="col col-67 show-red-ball">
                <i ng-repeat="filterRedNumBlue in filterDataRed" ng-cloak>{{filterRedNumBlue.num}}</i>
            </div>
            <div class="col col-33 show-blue-ball">
                <i ng-repeat="filterBlueNumBlue in filterDataBlue" ng-cloak>{{filterBlueNumBlue.num}}</i>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a href="" class="button" ng-click="historyBiglotto()">往期开奖</a>
            </div>
            <div class="col col-50">
                <a href="" class="button" ng-click="saveBallSelect()" >加入选单</a>
            </div>
        </div>
    </div>

</ion-view>

</ion-view>

<!-- modal提交成功 -->
<script id="submission.html" type="text/ng-template">
    <ion-modal-view id="modalAccount3">
        <div class="sure-modal3">
            <div class="sure-modal3-win">
                {{info}}
            </div>
            <div class="sure-modal3-style2">
                <span class="fl">姓 &nbsp;名:</span><span ng-cloak>{{realName}}</span>
            </div>
            <div class="sure-modal3-style2">
                <span class="fl">电 &nbsp;话:</span><span ng-cloak>{{phones}}</span>
            </div>
            <div class="sure-modal3-style2">
                <span class="fl">获赠时间:</span><span ng-cloak>{{receives}}</span>
            </div>
            <div class="sure-modal3-style2">
                <span class="fl">开奖时间:</span><span ng-cloak>{{draw_time}}</span>
            </div>
            <div class="sure-modal3-style2">
                <span class="fl">获赠号码:</span>
                <span ng-repeat="codeRed in receiveNum track by $index" style="display: flex; margin-top: 3px;">
                    <i ng-cloak  ng-repeat="codeNum in codeRed track by $index">{{codeNum}}</i>
                    <!-- <i ng-cloak
                        ng-repeat="codeBlue in investCode[1] track by $index"
                        ng-if="investCode[1]" class="blue">{{codeBlue}}
                     </i>-->
                </span>
            </div>
            <div class="sure-modal3-style4" ng-click="makeSure()">确 定</div>
        </div>
    </ion-modal-view>
</script>
