<ion-view view-title="大乐透往期开奖">
    <!--<ion-nav-bar class="bar bar-header bar-linerBlue ">
        <ion-nav-back-button class="icon ion-ios-arrow-left button-clear" style="color: white;"></ion-nav-back-button>
    </ion-nav-bar>-->

    <div class="bar " style="padding: 0"   >
        <div class="row notice">
            <i class="icon ion-volume-medium"></i>
            <div class="noticeText">恭喜185****6868大乐透中奖1000万元</div>
        </div>
    </div>

    <ion-content ng-class="h80 == true?'h88':'h40' ">
        <ion-list>
            <ion-item class="history-time"  ng-repeat="past in bitLotto track by $index">
                <p><span ng-cloak>{{past.wareIssue}}期</span><ins ng-cloak> {{past.createDate}} 周三</ins></p>
                <div class="row">
                    <div class="col col-50 show-red-ball">
                        <i ng-cloak>{{toArray(past.result,0)}}</i>
                        <i ng-cloak>{{toArray(past.result,1)}}</i>
                        <i ng-cloak>{{toArray(past.result,2)}}</i>
                        <i ng-cloak>{{toArray(past.result,3)}}</i>
                        <i ng-cloak>{{toArray(past.result,4)}}</i>
                    </div>
                    <div class="col col-50 show-blue-ball">
                        <i ng-cloak>{{toArray(past.result,5)}}</i>
                        <i ng-cloak>{{toArray(past.result,6)}}</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
