<ion-view view-title="成功">
    <ion-nav-bar class="light bg1">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left light"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content style="background: #eee;">
        <ion-list class="complete-info-succeed list-borderless">
          <ion-item class="InfoSucceedImg">
           <img src="./img/completeInfoSucceed.png" alt="资料完善成功" style="width: 130px;" />
          </ion-item>
          <ion-item style="color: #2c4198">完善成功</ion-item>
          <ion-item href="" ng-click="toAccount()">点击跳转至提现页面</ion-item>
        </ion-list>
    </ion-content>
</ion-view>