<ion-view view-title="成功">
    <!-- <ion-nav-bar class="light bg1">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left light"></ion-nav-back-button>
    </ion-nav-bar> -->
    <ion-content style="background: #eee;">
        <ion-list class="complete-info-succeed list-borderless">
          <ion-item class="info-succeed-img">
           <img src="./img/completeInfoSucceed.png" alt="资料完善成功" style="width: 110px;" />
          </ion-item>
          <ion-item style="color: #1a4a9e">完善成功</ion-item>
          <ion-item class="success-red" ui-sref="tab.account">点击跳转至提现页面</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
