<ion-view view-title="完善个人资料">
    <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/account" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background: #eee;">
      <ion-list class="complete-info-list">
        <form role="form" name="inputInfoForm" ng-submit="submitInfo()">
          <!-- <label class="item item-input">
            <div class="img_001"></div>
            <input type="text" 
                name="name" 
                placeholder="请输入姓名 (必填项)" 
                ng-model="users.realName" 
                required
                ng-pattern="/^[\u4E00-\u9FA5A-Za-z0-9_]+$/"
                style="text-indent: 1px;" />
            <span class="icon ion-close-round error"
                ng-show="inputInfoForm.name.$dirty && inputInfoForm.name.$invalid">格式错误</span>
          </label>
          <label class="item item-input">
            <div class="img_002"></div>
            <input type="text" 
                  name="phone" 
                  placeholder="请输入手机号 (必填项)" ng-model="users.phone" 
                  required 
                  ng-pattern="/^0?(13[0-9]|15[012356789]|18[0123456789]|14[0123456789]|17[0123456789])[0-9]{8}$/"
                  style="text-indent: 1px;" />
            <span class="icon ion-close-round error"
                ng-show="inputInfoForm.phone.$dirty && inputInfoForm.phone.$invalid" >格式错误</span>
          </label>
          <label class="item item-input">
           <div class="img_003"></div>
            <input type="text" 
                name="idcard" 
                placeholder="请输入身份证号 (必填项)" ng-model="users.idcard"
                required
                ng-pattern="/^\d{15}|\d{18}$/"
                style="text-indent: 1px;" />
            <span class="icon ion-close-round error"
                ng-show="inputInfoForm.idcard.$dirty && inputInfoForm.idcard.$invalid">格式错误</span>
          </label> -->
          <label class="item item-input">
            <div class="img_004"></div>
            <input type="text" 
                name="alipay"
                ng-pattern="/^[a-z0-9]{6,16}$/"
                placeholder="请输入支付宝账号" 
                ng-model="users.alipay"
                style="text-indent: 1px;" />
            <span class="icon ion-close-round error"
                ng-show="inputInfoForm.alipay.$dirty && inputInfoForm.alipay.$invalid">6-16个字符</span>
            <span class="fr" style="color: #d21e1e">*</span>
          </label>
          <label class="item item-input">
            <div class="img_005"></div>
            <input type="text" 
                name="wechat" 
                placeholder="请输入微信账号" ng-model="users.wechat"
                ng-pattern="/^[a-z0-9]{6,16}$/"
                style="text-indent: 1px;" />
            <span class="icon ion-close-round error"
                ng-show="inputInfoForm.wechat.$dirty && inputInfoForm.wechat.$invalid">6-16个字符</span>
            <span class="fr" style="color: #d21e1e">*</span>
          </label>
          <label class="item item-input">
            <div class="img_006"></div>
            <input type="text" 
                name="bankNo"  
                placeholder="请输入银行卡号" 
                ng-model="users.bankNo" 
                ng-pattern="/^[0-9]*$/"
                style="text-indent: 1px;" />
            <span class="icon ion-close-round error"
                ng-show="inputInfoForm.bankNo.$dirty && inputInfoForm.bankNo.$invalid">请输入数字</span>
            <span class="fr" style="color: #d21e1e">*</span>
          </label>
          <ion-item class="completeInfoNote">注意：为了不影响您中奖资金的提现，请确保您的资料真实有效;
          带*为三项至少填写一项</ion-item >
         <input type="submit" class="comform-edit-info" ng-class="inputInfoForm.$invalid?'comform-edit-info1':'comform-edit-info2'" ng-disabled="inputInfoForm.$invalid" value="点击提交" />
       </form>
      </ion-list>
    </ion-content>
</ion-view>