<ion-view  view-title="开 奖">

    <div class="bar bar-header tab_draw">
        <div class="button">
            <a class=" button " ui-sref="tab.draw.bigLottoHistoryDetails"  ng-click="activeSlide(0)" ng-class="slectIndex == 0?'current':''">大乐透</a>
            <a class=" button " ui-sref="tab.draw.exchangehistory3D" ng-click="activeSlide(1)"   ng-class="slectIndex == 1?'current':''" >排列3</a>
            <a class=" button " ui-sref="tab.draw.exchangehistory5D" ng-click="activeSlide(2)"   ng-class="slectIndex == 2?'current':''" >排列5</a>
        </div>
    </div>
    <div class="bar " style="padding: 0;margin-top: 45px;">
        <div class="row notice">
            <i class="icon ion-volume-medium"></i>
            <div class="noticeText">恭喜185****6868排列3中奖1040元</div>
        </div>
    </div>

    <ion-nav-view></ion-nav-view>

</ion-view>

