<ion-view view-title="">

    <ion-content class="warp-bg">
        <div class="notice-text">
            <div class="icon-notice">
                <i class="ion-volume-high"></i>
            </div>
            <div style="float: left;padding-left:5px;width: 93%; margin-left: 6%; height: 50px;overflow: hidden">
                <div class="slide">
                    <ul class="slideUl">
                        <!-- 指令 -->
                        <li
                            ng-repeat="winning in winningShow track by $index"
                            ng-show="winning.lotteryID == 2?LottoId='大乐透':winning.lotteryID == 31?LottoId='排列3':LottoId='排列5'">
                            <div class="row">
                                <div class="col"><span >{{winning.phone}}</span>中<span>{{LottoId}}</span>,<span>{{winning.winamt }}</span>元</div>
                            </div>
                        </li>
                        <li
                            ng-repeat="winning in winningShow track by $index"
                            ng-show="winning.lotteryID == 2?LottoId='大乐透':winning.lotteryID == 31?LottoId='排列3':LottoId='排列5'">
                            <div class="row">
                                <div class="col"><span >{{winning.phone}}</span>中<span>{{LottoId}}</span>,<span>{{winning.winamt }}</span>元</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row home-icon">
            <div class="col col-44">
                <a href="" ng-click="goToExchange3D()">
                    <nav>排列3<i></i></nav>
                    <img src="./img/exchange3.png" alt="">
                    <h5 style="letter-spacing: 0.2px">天天开奖 单注奖金1040元</h5>
                    <div class="title-intro">
                        <h6>中奖率高，奖金低</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
            <div class="col col-44">
                <a href="" ng-click="goToExchange5D()">
                    <nav>排列5<i></i></nav>
                    <img src="./img/exchange5.png" alt="">
                    <h5>天天开奖 单注奖金10万</h5>
                    <div class="title-intro">
                        <h6>中奖率中等，奖金中等</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row home-icon">
            <div class="col" style="margin-right: 15px">
                <a href="" ng-click="goToExchangeBigLotto2(true)">
                    <nav>大乐透<i style="left: 95%"></i></nav>
                    <img src="./img/BigLotto2.png" alt="" style="width: 100px">
                    <h5 style="color: #ec7600;">每周一、三、六开奖,单注可中1000万</h5>
                    <div class="title-intro">
                        <h6>中奖率低，奖金高</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
            <!--<div class="col col-44">
                <a href="" ng-click="goToExchangeBigLotto3(false)">
                    <nav style="width: 63%">大乐透&lt;!&ndash;追加&ndash;&gt;<i style="right: -10%;"></i></nav>
                    <img src="./img/BigLotto2.png" alt="">
                    <h5>每周一、三、六开奖<br/>单注可中1600万</h5>
                    <div class="title-intro">
                        <h6>中奖率低，奖金高</h6>
                        <span>3元/注</span>
                    </div>
                </a>
            </div>-->
        </div>
        <div class="tips-img">
            <img src="./img/tips-img.png" alt="">
            <p >多投多中奖哦！</p>
        </div>
        <!--<button ng-click="modal.show()">BTN</button>-->
    </ion-content>
</ion-view>
