<ion-view view-title="排列5">

    <!--<ion-nav-bar class="bar bar-header bar-lightBlue ">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
    </ion-nav-bar>-->

    <ion-content class=" scroll-bottom">
        <div class="row advert-img">
            <div class="col">
                <img src="./img/title-img5.png" alt="">
            </div>
        </div>

        <div class="rabbitRules">
            距<span>{{reques.wareIssue | limitTo: -3}}</span>期截止：<ins>{{hours}}时{{minute}}分{{second}}秒</ins>
            <a href="#5DrabbitRules" >玩法说明</a>
        </div>

        <div class="num-arrange-3">
            <div class="row">
                <div class="col col-20">万位:</div>
                <div class="col col-80">
                    <i
                        ng-repeat="bitNum10000 in numDataBit10000"
                        ng-class="{false: 'arrange-3-bg-white', true: 'arrange-3-bg-red'}[bitNum10000.check]"
                        ng-click="addBit10000Click(bitNum10000)" ng-cloak>
                        {{bitNum10000.num}}
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col col-20">千位:</div>
                <div class="col col-80">
                    <i
                        ng-repeat="bitNum1000 in numDataBit1000"
                        ng-class="{false: 'arrange-3-bg-white', true: 'arrange-3-bg-red'}[bitNum1000.check]"
                        ng-click="addBit1000Click(bitNum1000)" ng-cloak>
                        {{bitNum1000.num}}
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col col-20">百位:</div>
                <div class="col col-80">
                    <i
                        ng-repeat="bitNum100 in numDataBit100"
                        ng-class="{false: 'arrange-3-bg-white', true: 'arrange-3-bg-red'}[bitNum100.check]"
                        ng-click="addBit100Click(bitNum100)" ng-cloak>
                        {{bitNum100.num}}
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col col-20">十位:</div>
                <div class="col col-80">
                    <i
                        ng-repeat="bitNum10 in numDataBit10"
                        ng-class="{false: 'arrange-3-bg-white', true: 'arrange-3-bg-red'}[bitNum10.check]"
                        ng-click="addBit10Click(bitNum10)">
                        {{bitNum10.num}}
                    </i>
                </div>
            </div>
            <div class="row">
                <div class="col col-20">个位:</div>
                <div class="col col-80">
                    <i
                        ng-repeat="bitNum1 in numDataBit1"
                        ng-class="{false: 'arrange-3-bg-white', true: 'arrange-3-bg-red'}[bitNum1.check]"
                        ng-click="addBit1Click(bitNum1)">
                        {{bitNum1.num}}
                    </i>
                </div>
            </div>
        </div>
    </ion-content>


    <div class=" order-btns">
        <div class="row">
            <div class="col col-67">
                <h4>请选择你要兑换的排列5号码</h4>
                <p>(点击号码球可自选号码)</p>
            </div>
            <div class="col col-33">
                <img src="./img/random.png" alt="" ng-click="randomBallExchage5D()">
            </div>
        </div>

        <div class="row">
            <div class="col show-red-ball">
                <i ng-cloak ng-show="generate10000.toString() != ''">{{generate10000}}</i>
                <i ng-cloak ng-show="generate1000.toString() != ''">{{generate1000}}</i>
                <i ng-cloak ng-show="generate100.toString() != ''">{{generate100}}</i>
                <i ng-cloak ng-show="generate10.toString() != ''">{{generate10}}</i>
                <i ng-cloak ng-show="generate1.toString() != ''">{{generate1}}</i>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a href="" class="button" ng-click="history5D()">往期开奖</a>
            </div>
            <div class="col col-50">
                <a href="" class="button" ng-click="saveBallSelect5D($index)" >加入选单</a>
            </div>
        </div>
    </div>

</ion-view>
