<ion-view view-title="兑换">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left" ng-click="">
            <a href="#/tab/exchange" class="button button-icon ion-ios-arrow-left" style="font-size: 1.5em;line-height: 31px;">Back</a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="padding">
        <div class="row homeIcon">
            <div class="col col-50"><img src="./img/exchange3.png" alt=""></div>
            <div class="col col-50"><img src="./img/exchange5.png" alt=""></div>
        </div>
    </ion-content>
</ion-view>
