<ion-view view-title="排列三往期开奖">
    <ion-nav-bar class="bar bar-header bar-linerBlue ">
        <ion-nav-back-button class="icon ion-ios-arrow-left button-clear" style="color: white;"></ion-nav-back-button>
    </ion-nav-bar>

    <div class="bar bar-subheader">
        <div class="row notice">
            <i class="icon ion-volume-medium"></i>
            <div class="noticeText">最近五场赛事推荐胜率比较高的的四位高手</div>
        </div>
    </div>

    <ion-content class="h40">
        <ion-list>
            <ion-item class="history-time">
                <p><span>17044期 </span><ins> 4-19 周三</ins></p>
                <div class="row">
                    <div class="col col-67 show-red-ball">
                        <i>1</i>
                        <i>1</i>
                        <i>1</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
