<ion-view view-title="兑换">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left" ng-click="">
            <!--<a href="#/tab/exchange" class="button button-icon ion-ios-arrow-left" style="font-size: 1.5em;line-height: 31px;">Back</a>-->
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="warp-bg">

        <div class="row home-icon">
            <div class="col col-44">
                <a href="" ng-click="goToExchange3D()">
                    <nav>排列3<i></i></nav>
                    <img src="./img/exchange3.png" alt="">
                    <h5>天天开奖 好玩易中</h5>
                    <div class="title-intro">
                        <h6>中奖率高，奖金低</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
            <div class="col col-44">
                <a href="" ng-click="goToExchange5D()">
                    <nav>排列5<i></i></nav>
                    <img src="./img/exchange5.png" alt="">
                    <h5>天天开奖 单注奖金10万</h5>
                    <div class="title-intro">
                        <h6>中奖率中等，奖金中等</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row home-icon">
            <div class="col col-44">
                <a href="" ng-click="goToExchangeBigLotto2(true)">
                    <nav>大乐透<i></i></nav>
                    <img src="./img/BigLotto2.png" alt="">
                    <h5>每周一、三、六开奖<br/>单注可中1000万</h5>
                    <div class="title-intro">
                        <h6>中奖率低，奖金高</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
            <div class="col col-44">
                <a href="" ng-click="goToExchangeBigLotto3(false)">
                    <nav style="width: 63%">大乐透追加<i style="right: -10%;"></i></nav>
                    <img src="./img/BigLotto2.png" alt="">
                    <h5>每周一、三、六开奖<br/>单注可中1600万</h5>
                    <div class="title-intro">
                        <h6>中奖率低，奖金高</h6>
                        <span>3元/注</span>
                    </div>
                </a>
            </div>

        </div>
        <!--<button ng-click="modal.show()">BTN</button>-->
    </ion-content>
</ion-view>
