<ion-view view-title="排列三直选">

    <!--<ion-nav-bar class="bar bar-header bar-lightBlue ">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
    </ion-nav-bar>-->

    <div class="bar  ">
        <div class="row h44">
            <a class="button icon icon-left ion-ios-plus-empty col btn-30 " href="" ng-click="manualAdd3D()">手动添加</a>
            <a class="button icon icon-left ion-ios-plus-empty col btn-30" href="" ng-click=autoAdd3D()>随机添加</a>
        </div>
    </div>

    <ion-content class="content-160">
        <div>
            <ul class="list betting-detail-ul">
                <li class="item item-button-left item-button-right" ng-repeat="liItem3D in sessionJsonWarp3D track by $index">
                    <a class="button button-clear " ng-click="deleteRow3D($index)">
                        <i class="icon ion-android-close dark"></i>
                    </a>

                    <div class="betting-num num-bg-red">
                        <i ng-bind="liItem3D.B_Bit[0].num"></i>
                    </div>
                    <div class="betting-num num-bg-red">
                        <i ng-bind="liItem3D.S_Bit[0].num"></i>
                    </div>
                    <div class="betting-num num-bg-red">
                        <i ng-bind="liItem3D.G_Bit[0].num"></i>
                    </div>

                    <a class="button button-clear" href="" ng-click="editThisOrder3D($index)">
                        <i class="icon ion-ios-arrow-right dark"></i>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>

    <ion-footer-bar class=" betting-detail-footer" style="height: 155px;">
        <div>
            <p>
                投注
                <label class="padding-left">
                    <input class="bigLotto-input1"
                           type="tel"
                           placeholder="1"
                           onKeyUp="value=value.replace(/\D/g,'')"
                           ng-model="multiple"/>
                </label> 倍
            </p>
            <p>
                金额：
                <span class="font-red" ng-cloak>{{totalMoney*multiple*2}}</span> 元 &nbsp;
            </p>
            <button class="button button-block button-liner-gradiend" ng-click="submitCms()"
                    style="font-size: 16px;" ng-disabled="isDisabled">
                确认提交
            </button>
        </div>

    </ion-footer-bar>
</ion-view>
