<ion-view view-title="排列三直选">

    <ion-nav-bar class="bar bar-header bar-lightBlue ">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
    </ion-nav-bar>

    <div class="bar bar-subheader ">
        <div class="row h44">
            <a class="button icon icon-left ion-ios-plus-empty col btn-30 " href="" ng-click="manualAdd()">手动添加</a>
            <a class="button icon icon-left ion-ios-plus-empty col btn-30" href="" ng-click=autoAdd()>店主机选</a>
        </div>
    </div>

    <ion-content class="content-160">
        <div>
            <ul class="list betting-detail-ul">
                <li class="item item-button-left item-button-right" ng-repeat="liItem5D in sessionJsonWarp5D">
                    <a class="button button-clear " ng-click="deleteRow5D($index)">
                        <i class="icon ion-android-close dark"></i>
                    </a>

                    <div class="betting-num num-bg-red">
                        <i ng-bind="liItem5D.W_Bit[0].num"></i>
                    </div>
                    <div class="betting-num num-bg-red">
                        <i ng-bind="liItem5D.Q_Bit[0].num"></i>
                    </div>
                    <div class="betting-num num-bg-red">
                        <i ng-bind="liItem5D.B_Bit[0].num"></i>
                    </div>
                    <div class="betting-num num-bg-red">
                        <i ng-bind="liItem5D.S_Bit[0].num"></i>
                    </div>
                    <div class="betting-num num-bg-red">
                        <i ng-bind="liItem5D.G_Bit[0].num"></i>
                    </div>

                    <a class="button button-clear" href="" ng-click="editThisOrder5D($index)">
                        <i class="icon ion-ios-arrow-right dark"></i>
                    </a>
                </li>
                <li class="item item-button-left item-button-right" ng-repeat="liAutoAdd in liAutoAdds">
                    <a class="button button-clear ">
                        <i class="icon ion-android-close dark"></i>
                    </a>
                    <div style="line-height: 28px"><span ng-bind="liAutoAdd"></span>注</div>
                </li>

            </ul>
        </div>
    </ion-content>

    <ion-footer-bar class=" betting-detail-footer" style="height: 155px;">
        <div>
            <p>
                投注
                <label class="padding-left">
                    <input class="bigLotto-input1 " type="text" placeholder="1"/>
                </label> 倍
            </p>
            <p>
                金额：
                <span class="font-red">2</span> 元 &nbsp
            </p>
            <button class="button button-block button-liner-gradiend" ng-click=""
                    style="font-size: 16px;">
                提交彩店
            </button>
        </div>

    </ion-footer-bar>
</ion-view>
