<ion-modal-view>
    <ion-content class=" regiset">
        <img src="./img/regiest.png" alt="">

        <h4>身份注册</h4>
        <div class="list">
            <form action="" name="formModal">
                <label class="item item-input">
                    <input ng-model="userInfo.newUserName"  ng-pattern="/^[\u4E00-\u9FA5A-Za-z0-9_]+$/" type="text" placeholder="请输入您的真实姓名">
                </label>
                <label class="item item-input">
                    <input
                        ng-model="userInfo.newUserIphone"
                        ng-pattern="/^1[34578]\d{9}$/"
                        maxlength="11"
                        type="text"
                        name="iphone"
                        placeholder="请输入您的11位手机号">
                    <span style="font-size: .6em;color: red;" ng-show="formModal.iphone.$dirty && formModal.iphone.$invalid">输入你的11位手机号&nbsp;</span>
                </label>

                <label class="item item-input">
                    <input ng-model="userInfo.newUserSure"
                           maxlength="11"
                           type="text"
                           ng-pattern="/^1[34578]\d{9}$/"
                           name="phones"
                           placeholder="再次确认手机号">
                    <span style="font-size: .6em;color: red;" ng-show="formModal.phones.$dirty && formModal.phones.$invalid">再次确认11位手机号&nbsp;</span>
                </label>
            </form>

            <span> ● 请填写真实信息才能领奖</span>
        </div>

        <button class="button button-positive loginBtn" ng-click="GetTickets()">领取彩票</button>
    </ion-content>
</ion-modal-view>
