<ion-view view-title="待兑换">
    <!-- <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/account"
               style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-content style="background: #eee;">
        <ion-list class="need-exchange-list">
            <ion-item style="padding: 13px 16px;" ng-repeat="item in needExchanges">
                <div class="fl">
                    <p class="font-style9">
                        兑换彩票<span>1</span>注
                    </p>
                    <p class="font-style10" ng-cloak>
                        {{item.updateDate}}
                    </p>
                </div>
                <div class="fr">
                    <p class="font-style8 " ng-click="toScanExchange($index)" ng-cloak>
                        立即兑换
                    </p>
                </div>
            </ion-item>

            <div class="prize-records-all">
                <img src="./img/prizeRecords.png"/>
                <p>就这么多咯~兑换彩票中奖金吧~~</p>
            </div>

        </ion-list>
    </ion-content>
</ion-view>
