<ion-view view-title="订单详情">
    <ion-nav-bar class="light bg1">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left light"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content style="background: #eee;">
       <ion-list class="orderDetailList">
         <ion-item >
           <span>排列三</span>
           <span class="fr fontStyle1">已中奖</span>
         </ion-item>
         <div class="detail">
           <div>
             购买方案：
             <div>
               
             </div>
           </div>
           <div>订单支付：<span class="fontStyle6">¥4:00</span></div>
           <div>订单编号：<span class="fontStyle2">678666</span></div>
           <div>订单时间：<span class="fontStyle2">2017-5-17 11:30</span></div>
           <div>中奖奖金：<span class="fontStyle6">¥1111.00</span></div>
         </div>
       </ion-list>
    </ion-content>
</ion-view>