<ion-view view-title="兑换">
    <!--<ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left" ng-click="">
            <a href="#/tab/exchange" class="button button-icon ion-ios-arrow-left" style="font-size: 1.5em;line-height: 31px;"></a>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <div class="bar notice-text" style="padding: 0;">
        <div class="icon-notice">
            <i class="ion-volume-high"></i>
        </div>
        <div style="float: left;padding-left:5px;width: 94%; margin-left: 6%; height: 50px;overflow: hidden">
            <div class="slide">
                <ul class="slideUl">
                    <!-- 指令 -->
                    <li
                        ng-repeat="winning in winningShow track by $index"
                        ng-show="winning.lotteryID == 2?LottoId='大乐透':winning.lotteryID == 31?LottoId='排列3':LottoId='排列5'">
                        <div class="row">
                            <div class="col"><span >{{winning.phone}}</span>中<span>{{LottoId}}</span>,<span>{{winning.winamt }}</span>元</div>
                        </div>
                    </li>
                    <li
                        ng-repeat="winning in winningShow track by $index"
                        ng-show="winning.lotteryID == 2?LottoId='大乐透':winning.lotteryID == 31?LottoId='排列3':LottoId='排列5'">
                        <div class="row">
                            <div class="col"><span >{{winning.phone}}</span>中<span>{{LottoId}}</span>,<span>{{winning.winamt }}</span>元</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ion-content class="warp-bg padding paddingTop">
        <div class="list list-marginTop">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchange3D()">
                <img src="./img/exchange3.png" alt="">
                <h1>排列3 </h1>
                <h5>中奖率高，奖金低</h5>
                <div class="title-intro">
                    <h6>每天20：30开奖 单注奖金最高1040元</h6>
                </div>
            </a>
        </div>

        <div class="list list-marginTop">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchange5D()">
                <img src="./img/exchange5.png" alt="">
                <h1>排列5</h1>
                <h5>中奖率中等，奖金中等</h5>
                <div class="title-intro">
                    <h6>每天20：30开奖 单注奖金最高10万</h6>
                </div>
            </a>
        </div>

        <div class="list list-marginTop">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchangeBigLotto2()">
                <img src="./img/BigLotto2.png" alt="">
                <h1>大乐透 </h1>
                <h5>中奖率低，奖金高</h5>
                <div class="title-intro">
                    <h6>每周一、三、六开奖 单注最高可中1000万</h6>
                </div>
            </a>
        </div>

        <span> 注: 本次兑换彩票只可选择其中一个彩种</span>
        <div class="tips-img">
            <img src="./img/vidUser.png" alt="">
            <p>不能多选哦！</p>
        </div>
    </ion-content>
</ion-view>


<!-- modal弹窗 老用户获得彩票 -->
<!--<script id="accountModalOldUser.html" type="text/ng-template">
    <ion-modal-view id="modalAccount2">
        <div class="account-modal2">
            <div class="cancel-pop" ng-click="cancelPop2()">X</div>
            <img src="./img/completeInfoSucceed.png" alt="获得一注彩票" style="width: 110px;" />
            <div class="account-style1">恭喜您获得一次彩票投注资格，您可三选一进行投注！</div>
            <a ng-click="goToExchange()" class="account-style1 account-style2">点击立即投注</a>
        </div>
    </ion-modal-view>
</script>-->
