<ion-view view-title="兑换">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left" ng-click="">
            <a href="#/tab/exchange" class="button button-icon ion-ios-arrow-left" style="font-size: 1.5em;line-height: 31px;"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="warp-bg padding paddingTop">

        <div class="list">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchange3D()">
                <img src="./img/exchange3.png" alt="">
                <h2>排列3 <span>2元/注</span></h2>
                <div class="title-intro">
                    <h5>天天开奖 好玩易中</h5>
                </div>
            </a>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchange5D()">
                <img src="./img/exchange5.png" alt="">
                <h2>排列5 <span>2元/注</span></h2>
                <div class="title-intro">
                    <h5>天天开奖 单注奖金10万</h5>
                </div>
            </a>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchangeBigLotto2()">
                <img src="./img/BigLotto2.png" alt="">
                <h2>大乐透 <span>2元/注</span></h2>
                <div class="title-intro">
                    <h5>每周一、三、六开奖<br/>单注可中1000万</h5>
                </div>
            </a>
        </div>

    </ion-content>
</ion-view>
