<ion-view view-title="兑换">
    <!--<ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left" ng-click="">
            <a href="#/tab/exchange" class="button button-icon ion-ios-arrow-left" style="font-size: 1.5em;line-height: 31px;"></a>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <div class="bar notice-text">
        <div class="icon-notice">
            <i class="ion-volume-high"></i>
        </div>
        <div class="notice-warp">
            <div class="slideTopbox " slide-scroll style="top: 0">
                <div class="row">
                    <div class="col col-50">135****4647中排列3,173元</div>
                    <div class="col col-50">159****4559中大乐透,200元</div>
                </div>
                <div class="row">
                    <div class="col col-50">135****4647中排列3,173元</div>
                    <div class="col col-50">159****4559中大乐透,200元</div>
                </div>
                <div class="row">
                    <div class="col col-50">135****4647中排列3,173元</div>
                    <div class="col col-50">159****4559中大乐透,200元</div>
                </div>
                <div class="row">
                    <div class="col col-50">135****4647中排列3,173元</div>
                    <div class="col col-50">159****4559中大乐透,200元</div>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="warp-bg padding paddingTop">


        <div class="list list-marginTop">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchange3D()">
                <img src="./img/exchange3.png" alt="">
                <h1>排列3 </h1>
                <h5>天天开奖 好玩易中</h5>
                <div class="title-intro">
                    <h6>中奖率高，奖金低</h6>
                </div>
            </a>
        </div>

        <div class="list list-marginTop">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchange5D()">
                <img src="./img/exchange5.png" alt="">
                <h1>排列5</h1>
                <h5>天天开奖 单注奖金10万</h5>
                <div class="title-intro">
                    <h6>中奖率中等，奖金中等</h6>
                </div>
            </a>
        </div>

        <div class="list list-marginTop">
            <a class="item item-thumbnail-left" href="" ng-click="goToExchangeBigLotto2()">
                <img src="./img/BigLotto2.png" alt="">
                <h1>大乐透 </h1>
                <h5>每周一、三、六开奖<br/>单注可中1000万</h5>
                <div class="title-intro">
                    <h6>中奖率低，奖金高</h6>
                </div>
            </a>
        </div>

        <span> 注: 本次兑换彩票只可选择其中一个彩种</span>
        <div class="tips-img">
            <img src="./img/vidUser.png" alt="">
            <p>不能多选哦！</p>
        </div>
    </ion-content>
</ion-view>
