<ion-view view-title="账户 {{phone}}">
    <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/exchange" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="bg0">
        <ion-list class="list-borderless account-list">
            <ion-item class="bg2">
                <div>
                    奖金余额 (元)
                </div>
                <h2 class="light" ng-cloak="">
                    {{totalMoney | number:2}}
                </h2>
            </ion-item>
            <div class="bg3 row">
                <div class="col">
                    <div>
                        可用余额 (元)
                    </div>
                    <div ng-cloak="">
                        {{useableMoney | number:2}}
                    </div>
                </div>
                <div class="col" ng-click="toggleShowAnswer()">
                    <div>
                        冻结余额 (元)
                        <div class="accountForLoc">
                            <img class="account-question" src="./img/accountQuestion.png"/>
                            <div class="account-answer" ng-show="showAnswer">
                                <h5>
                                    冻结金额：
                                </h5>
                                <span>
                                    冻结金额为需要支付的金额，只是出票成功前该笔金额先暂时冻结在您的奖金余额内，等出票成功后，该笔冻结金额会自动支付给出票商家；
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-cloak="">
                        {{frozedMoney | number:2}}
                    </div>
                </div>
            </div>
            <!--<ion-item ng-show="haventExchange" class="f18" style="border-bottom-width: 2px" ng-click="toNeedExchange()">
                待兑换
                <span class="badge badge-style1" >1</span>
            </ion-item>-->
            <ion-item class="item-icon-right f18" ng-click="toPrizeRecords()">
                奖金纪录
                <i class="icon ion-ios-arrow-right">
                </i>
            </ion-item>
            <ion-item class="item-icon-right f18 have-border" ng-click="toAllOrders()">
                全部订单
                <i class="icon ion-ios-arrow-right">
                </i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right f18 " ng-click="toWidthdrawRecords()">
                <i class="icon ion-card" style="color: #108ee9;">
                </i>
                提现明细
                <i class="icon ion-ios-arrow-right">
                </i>
            </ion-item>
            <p class="account-common account-bg-blue" ng-click="withdrawConfirm()">
                提现
            </p>
            <a class="account-common account-bg-none"  ui-sref="tab.exchange">
                投注
            </a>
        </ion-list>


        <!-- modal弹窗选择提现方式 -->
        <script id="accountModal.html" type="text/ng-template">
            <ion-modal-view id="modalAccount" >
        <div class="account-modal">
            <ion-item class="item-icon-left " >
                <i class="icon ion-ios-close-empty" ng-click="closeModal()">
                </i>
                选择提现方式
            </ion-item>
            </ion-item>
           <ion-radio ng-class="accountNum[0].disable?'disable-class':''" ng-click="toWidthdraw(1,accountNum[0].num)" ng-disabled="accountNum[0].disable">
                <img src="./img/img_010.png" />
                支付宝账户 <span ng-cloak>{{accountNum[0].num}}</span>
            </ion-radio>
            <ion-radio ng-class="accountNum[1].disable?'disable-class':''"  ng-click="toWidthdraw(2,accountNum[1].num)" ng-disabled="accountNum[1].disable" >
                <img src="./img/img_011.png" />
                微信账户 <span ng-cloak>{{accountNum[1].num}}</span>
            </ion-radio>
            <ion-radio ng-class="accountNum[2].disable?'disable-class':''" ng-click="toWidthdraw(3,accountNum[2].num)" ng-disabled="accountNum[2].disable">
                <img src="./img/img_012.png" />
                银行卡账户 <span ng-cloak>{{accountNum[2].num}}</span>
            </ion-radio>
        </div>
    </ion-modal-view>
        </script>

            <!-- modal弹窗 老用户获得彩票 -->
            <script id="accountModalOldUser.html" type="text/ng-template">
                <ion-modal-view id="modalAccount2" >
            <div class="account-modal2">
                <div class="cancel-pop" ng-click="cancelPop()">X</div>
                <img src="./img/completeInfoSucceed.png" alt="获得一注彩票" style="width: 110px;" />
                <div class="account-style1">恭喜您，获得一注彩票；</div>
                <a ng-click="goToExchange()" class="account-style1 account-style2">点击立即兑换</a>
            </div>
        </ion-modal-view>
            </script>

            <!-- modal弹窗 中奖 -->
            <script id="accountModalGetPrize.html" type="text/ng-template">
                <ion-modal-view id="modalAccount3" >
            <div class="account-modal3">
                <div class="cancel-pop" ng-click="cancelPop()">X</div>
                <img src="./img/completeInfoSucceed.png" alt="获得一注彩票" style="width: 110px;" />
                <div class="account-style1">恭喜您，获得一注彩票；</div>
                <a ng-click="goToExchange()" class="account-style1 account-style2">点击立即兑换</a>
            </div>
        </ion-modal-view>
            </script>
    </ion-content>
</ion-view>
