<ion-view view-title="账户">
    <ion-content class="bg0">
        <ion-list class="list-borderless account-list">
            <ion-item class="bg2">
                <div class="f16">
                    奖金余额 (元)
                </div>
                <a class="head-pic" ng-click="toSelfInfo()" >
          <img style="width: 20px;" src="./img/head.png" alt="" />
        </a>
                <h2 class="light" style="margin:10px 0" ng-cloak>
            {{totalMoney | number:2}}
          </h2>
            </ion-item>
            <div class="bg3 row f15">
                <div class="col">
                    <div>
                        可用余额 (元)
                    </div>
                    <div style="margin-top: 4px" ng-cloak>
                        {{useableMoney | number:2}}
                    </div>
                </div>
                <div class="col" ng-click="toggleShowAnswer()">
                    <div>
                        冻结余额 (元)
                        <div class="accountForLoc">
                            <img class="account-question" src="./img/accountQuestion.png" />
                            <div class="account-answer" ng-if="showAnswer">
                                <h5>
                  冻结金额：
                </h5>
                                <span>
                  冻结金额为需要支付的金额，只是出票成功前该笔金额先暂时冻结在您的奖金余额内，等出票成功后，该笔冻结金额会自动支付给出票商家；
                </span>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 4px" ng-cloak>
                        {{frozedMoney | number:2}}
                    </div>
                </div>
            </div>
            <ion-item class="item-icon-right f15" ng-click="toNeedExchange()" style="border-bottom-width: 2px;">
                待兑换
                <i class="icon ion-ios-arrow-right" ng-if="needExchangeAmount.amount==0"></i>
                <span class="badge badge-style1" ng-if="needExchangeAmount.amount!=0" ng-cloak>
          {{needExchangeAmount.amount}}
        </span>
            </ion-item>
            <ion-item class="item-icon-right f15" ng-click="toPrizeRecords()">
                账户记录
                <i class="icon ion-ios-arrow-right">
        </i>
            </ion-item>
            <ion-item class="item-icon-right f15 have-border" ng-click="toAllOrders()">
                兑换记录
                <i class="icon ion-ios-arrow-right">
        </i>
            </ion-item>
            <p class="account-common account-bg-blue" ng-click="withdrawConfirm()">
                提现
            </p>
            <!-- <a class="account-common account-bg-none" ui-sref="tab.exchange">

                兑换
            </a> -->
        </ion-list>
        <!-- modal弹窗选择提现方式 -->
        <script id="accountModal.html" type="text/ng-template">
            <ion-modal-view id="modalAccount">
                <div class="account-modal">
                    <ion-item class="item-icon-left ">
                        <i class="icon ion-ios-close-empty" ng-click="closeModal()" style="font-size:40px">
                        </i> 选择提现方式
                    </ion-item>
                    <!-- <ion-radio ng-click="toWidthdraw(2,accountNum[0].num)">
                        <img style="margin-right: 5px;" src="./img/img_011.png" /> 微信账户 <span ng-cloak>{{accountNum[0].num}}</span>
                    </ion-radio> -->
                    <ion-radio ng-click="toWidthdraw(3,accountNum[1].num)">
                        <img style="margin-right: 5px;" src="./img/img_012.png" /> 银行卡账户 <span ng-cloak>{{accountNum[1].num}}</span>
                    </ion-radio>
                </div>
            </ion-modal-view>
        </script>
        <!-- modal弹窗 老用户获得彩票 -->
        <!-- <script id="accountModalOldUser.html" type="text/ng-template">
            <ion-modal-view id="modalAccount2">
                <div class="account-modal2">
                    <div class="cancel-pop" ng-click="cancelPop2()">X</div>
                    <img src="./img/completeInfoSucceed.png" alt="获得一注彩票" style="width: 110px;" />
                    <div class="account-style1">恭喜您，获得一注彩票；</div>
                    <a ng-click="goToExchange()" class="account-style1 account-style2">点击立即兑换</a>
                </div>
            </ion-modal-view>
        </script> -->
        <!-- modal弹窗 中奖 -->
        <script id="accountModalGetPrize.html" type="text/ng-template">
            <ion-modal-view id="modalAccount3">
                <div class="account-modal3">
                    <div class="modal3-title-img-wrap">
                        <img class="modal3-title-img" src="./img/completeInfoSucceed.png" alt="中奖" />
                    </div>
                    <div class="account-modal3-style1">
                        奖金 <span ng-cloak>{{winamt | number:2}}元</span>
                    </div>
                    <div class="account-modal3-style2" style="margin-top: 6px">
                        <span class="fl">期 数:</span><span ng-cloak>{{wareIssue}}</span>
                    </div>
                    <div class="account-modal3-style2">
                        <span class="fl">时 间:</span><span ng-cloak>{{drawTime}}</span>
                    </div>
                    <div class="account-modal3-style2 clearfix">
                        <span class="fl">
                            <span class="fr">获赠号码:</span>
                            <br>
                            <span class="remark-style" >(多于三注可拖动号码查看未显示号码,灰色背景号码为中奖号码)</span>
                        </span>
                        <ion-scroll class="fl rowball-wrap" zooming="true" direction="y" overflow-scroll="true" scrollbar-y="true">
                            <span ng-class="eachBet.status==4?'win-suc':''" class="rowball" ng-repeat="eachBet in thisWinItems track by $index">
                              <i ng-cloak ng-repeat="codeRed in eachBet.code[0] track by $index">{{codeRed}}</i><i ng-cloak ng-repeat="codeBlue in eachBet.code[1] track by $index" ng-if="eachBet.code[1]" class="blue">{{codeBlue}}</i>
                            </span>
                        </ion-scroll>
                    </div>
                    <div class="account-modal3-style2" style="margin-top: 3px;">
                        <span class="fl">开奖号码:
                            <span></span>
                        </span>
                        <span>
                          <i ng-cloak ng-repeat="codeRed in result[0] track by $index">{{codeRed}}</i><i ng-cloak ng-repeat="codeBlue in result[1] track by $index" ng-if="result[1]" class="blue">{{codeBlue}}</i>
                        </span>
                    </div>
                    <div class="account-modal3-style3">*奖金已发送至奖金余额,请查收!</div>
                    <div class="account-modal3-style4" ng-click="cancelPop3()"></div>
                </div>
            </ion-modal-view>
        </script>
        <!-- modal弹窗 出票失败 -->
        <script id="accountModalFailed.html" type="text/ng-template">
            <ion-modal-view id="modalFailed">
                <div class="modal-failed">
                    <div class="top">
                        <img style="width: 58px;" src="./img/completeInf.png" alt="" />
                    </div>
                    <div class="print-failed" ng-cloak>
                        <h4>出票失败</h4>
                        <div class="row-style clearfix">
                            <div class="fl style1">
                                <span class="fr">期数:</span>
                            </div>
                            <div class="fl style2">
                                <span class="fl" ng-cloak>
                                    {{wareIssueFailed}}
                                </span>
                            </div>
                        </div>
                        <div class="row-style clearfix">
                            <div class="fl style1">
                                <span class="fr">订单提交日期:</span>
                            </div>
                            <div class="fl style2">
                                <span class="fl" ng-cloak>{{failedDate}}</span>
                            </div>
                        </div>
                        <div class="row-style clearfix">
                            <div class="fl style1">
                                <span class="fr">
                                    <span class="fr">投注号码:</span>
                                    <br>
                                    <span class="remark-style" >(多于三注可拖动号码查看未显示号码,灰色背景号码为出票失败)</span>
                                </span>
                            </div>
                            <div class="fl style2">
                                <ion-scroll class="fl rowball-wrap" zooming="true" direction="y" overflow-scroll="true" scrollbar-y="true">
                                    <span ng-class="eachBet.status==-1?'bg-fail':''" class="rowball" ng-repeat="eachBet in thisWinFailItems track by $index">
                                        <i ng-cloak ng-repeat="codeRed in eachBet.code[0] track by $index" >{{codeRed}}</i>
                                        <i ng-cloak ng-repeat="codeBlue in eachBet.code[1] track by $index" ng-if="eachBet.code[1]" class="blue" >{{codeBlue}}</i>
                                    </span>
                                </ion-scroll>
                            </div>
                        </div>
                        <div class="row-style2">
                            *兑换资格或支付款已返还至待兑换或账户余额,请重新投注
                        </div>

                    </div>
                    <div class="close" ng-click="cancelPrintFailed()">
                        关闭
                    </div>
                </div>
            </ion-modal-view>
        </script>
        <!-- 提现完善资料-->
        <script id="widthdrawCompleteInfo.html" type="text/ng-template">
            <ion-modal-view id="modalAccount4">
                <div class="account-modal4">
                    <div class="top">完善资料</div>
                    <div class="middle">
                        <img style="width: 58px;" src="./img/completeInf.png" alt="" />
                        <p>当前个人资料尚未完善，无法提现；
                            <br /> 完善个人资料后即可立即提现!
                        </p>
                    </div>
                    <div class="row bottom">
                        <div class="col" style="color: #999;border-right: 1px solid #bdbdbd;" ng-click="cancelPop4()">暂不完善</div>
                        <div class="col" style="color: #255fb3;" ng-click="toCompeleteInfo()">立即完善</div>
                    </div>
                </div>
            </ion-modal-view>
        </script>
        <!-- 选择兑换方式
        <script id="chooseExchangeTypeModal.html" type="text/ng-template">
            <ion-modal-view id="modalAccount5">
                <div class="account-modal">
                    <ion-item class="item-icon-left ">
                        <i class="icon ion-ios-close-empty" ng-click="cancelPop5()" style="font-size:40px">
                        </i> 选择兑换方式
                    </ion-item>
                    <ion-radio ng-click="toExchangeWithBalance()">
                        <img style="margin-right: 5px;" src="./img/exchangeType.png" /> 奖金余额
                    </ion-radio>
                    <ion-radio ng-click="">
                        <span class="dragon">龙</span> 龙币
                        <span class="account">
                            (余额:<span>18</span>龙币)
                        </span>
                    </ion-radio>
                </div>
            </ion-modal-view>
        </script> -->
    </ion-content>
</ion-view>
