<ion-tabs class="tabs-icon-top tabs-color-active-positive" >

  <!-- 兑换 Tab -->
  <ion-tab title="兑换" icon-off="ion-exchange-outline" icon-on="ion-exchange" href="#/tab/exchange">
    <ion-nav-view name="tab-exchange"></ion-nav-view>
  </ion-tab>

    <!-- 开奖 Tab -->
    <ion-tab title="开奖" icon-off="ion-draw-outline" icon-on="ion-draw" href="#/tab/draw/bigLottoHistoryDetails">
        <ion-nav-view name="tab-draw"></ion-nav-view>
    </ion-tab>

    <!-- 走势图 Tab -->
    <ion-tab title="走势图" icon-off="ion-trend-outline" icon-on="ion-trend" href="#/tab/trend/bigTrendChart">
        <ion-nav-view name="tab-trend"></ion-nav-view>
    </ion-tab>

  <!-- 账户 Tab -->
  <ion-tab title="我的" icon-off="ion-user-outline" icon-on="ion-user" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
