<ion-view view-title="走势图">
   <!-- <ion-nav-bar class="bar-header bar-dark">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
    </ion-nav-bar>-->

    <div class="bar bar-header tab_trend">
        <div class="button">
            <a class=" button " ui-sref="tab.trend.bigTrendChart" ng-click="isActive=true" ng-class="{true:'tab_select_white',false:'tab_select_white'}[isActive]">大乐透</a>
            <a class=" button " ui-sref="tab.trend.3DTrendChart" ng-click="isActive=false" ng-class="{false:'tab_select_white',true:'tab_select_white'}[isActive]">排列3</a>
            <a class=" button " ui-sref="tab.trend.5DTrendChart" ng-click="isActive=false" ng-class="{false:'tab_select_white',true:'tab_select_white'}[isActive]">排列5</a>
        </div>
    </div>

    <ion-nav-view></ion-nav-view>

   <!-- <ion-content has-bouncing="false" class="draw-slide">
        <div style="display:flex;width:100%;">
            <div style="flex:1;text-align: center;"
                 class="tab_trend"
                 ng-repeat="d in tabNames"
                 ng-click="activeSlide($index)"
                 ng-class="slectIndex==$index ? 'tab_select-white' : '' ">
                {{d}}
                &lt;!&ndash;<div style="left:{{15+$index*33}}%" ng-show="slectIndex==$index"></div>&ndash;&gt;
            </div>
        </div>
        <ion-slide-box on-slide-changed='slideChanged(index)' active-slide="slideIndex" does-continue="false"
                       show-pager="true">
            <ion-slide ng-repeat="p in pages">
                <div ng-include="p"></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>-->

</ion-view>
