<ion-view view-title="提现">
    <!-- <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/account" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-content style="background: #eee;">
        <ion-list class="widthdraw-list list-borderless">
            <ion-item>
                <p>
                    提现金额 (元)
                </p>
                    <i class="ion-social-yen loc1">
                    </i>
                    <input type="number" name="" class="widthdraw-amount" placeholder="|" ng-model="widthdrawMoney" ng-change="whetherOK(widthdrawMoney)" />
            </ion-item>
            <ion-item class="padding0">
                <p ng-cloak ng-show="whetherShow">
                    可提现金额{{widthdrawAble}}元
                    <a href="" ng-click="widthdrawAll()">
                        全部提现
                    </a>
                </p>
                <p class="cant-widthdraw">{{cantWidthdraw}}</p>
            </ion-item>
            <p ng-class="{true:'widthdraw-btn-blue',false:'widthdraw-btn-grey'}[whetherShow]" ng-click="!whetherShow || confirmWidthdraw(widthdrawMoney)" ng-disable="!whetherShow">
                确认 
            </p>
            <div class="widthdraw-descri">
                提现说明
                <p>
                    1、10元及10元以下提现扣除1元手续费；
                    <br/>
                    2、11元～200元，必须一次性提完，无手续费；
                    <br/>
                    3、提现金额大于200元，需要审核，审核通过即可提现；
                    <br/>
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>