<ion-view view-title="提现">
    <!-- <ion-nav-bar class="light bg1">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left light"></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button button-clear" style="color: #fff">完成</a>
           <a class="button button-clear" style="color: #fff;" href="#/tab/account">完成
          </a>
        </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-content style="background: #eee;">
        <ion-list class="complete-info-succeed list-borderless">
          <ion-item class="info-succeed-img">
           <img ng-src="{{whetherWidthdrawSuc?'./img/completeInfoSucceed.png':'./img/alert-img.png'}}" alt="资料完善成功" style="width: 130px;" />
          </ion-item>
          <ion-item style="color: #2c4198">{{whetherWidthdrawSuc?widthdrawInfo.success:widthdrawInfo.fail}}</ion-item>
          <ion-item href="#/tab/account">
            {{whetherWidthdrawSuc?widthdrawInfo.successInfo:widthdrawInfo.failInfo}}
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>