<ion-view view-title="提现">
    <ion-nav-bar class="light bg1">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left light"></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <!-- <a class="button button-clear" style="color: #fff">完成</a> -->
           <a class="button button-clear" style="color: #fff;" href="#/tab/account">完成
          </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background: #eee;">
        <ion-list class="completeInfoSucceed list-borderless">
          <ion-item class="InfoSucceedImg">
           <img src="./img/completeInfoSucceed.png" alt="资料完善成功" style="width: 130px;" />
          </ion-item>
          <ion-item style="color: #2c4198">申请审核未成功</ion-item>
          <ion-item href="#/tab/account">别担心，说不定再试一次就成功了</ion-item>
        </ion-list>
    </ion-content>
</ion-view>