<ion-view view-title="提现明细">
    <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/account" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background: #eee;">
      <ion-list class="widthdrawRecordsList">
        <!-- <ion-item ne-repeat="widthdrawItem in widthdrawItems">
          <div class="fl">
            <p class="fontStyle3" ng-cloak>{{widthdrawItem.status}}</p>
            <p class="fontStyle3" ng-cloak>{{widthdrawItem.updateTime}}</p>
          </div>
          <div class="fr">
            <p class="fontStyle7" ng-cloak>
              提现： {{widthdrawItem.money}}元
            </p>
          </div>
        </ion-item> -->
        <ion-item >
          <div class="fl">
            <p class="fontStyle3">审核失败</p>
            <p class="fontStyle3">2017-05-16 08:88:88</p>
          </div>
          <div class="fr">
            <p class="fontStyle7">
              提现： 100元
            </p>
          </div>
        </ion-item>
        <ion-item >
          <div class="fl">
            <p class="fontStyle3">审核成功</p>
            <p class="fontStyle3">2017-05-16 08:88:88</p>
          </div>
          <div class="fr">
            <p class="fontStyle7">
              提现： 100元
            </p>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>