<ion-view view-title="提现">
    <!-- <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/account" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-content style="background: #eee;" id="scrollBugTwo">
        <ion-list class="widthdraw-list list-borderless">
            <ion-item style="padding: 22px 30px 16px">
                <p style="margin-bottom: 15px;">
                    提现金额 (元)
                </p>
                    <i class="ion-social-yen loc1">
                    </i>
                    <input type="tel" name="" class="widthdraw-amount" autofocus="autofocus" placeholder=""  ng-model="widthdrawMoney.money" ng-change="whetherOK()" />
            </ion-item>
            <ion-item class="padding0">
                <p ng-cloak ng-show="whetherShow1">
                    可提现金额{{widthdrawAble}}元
                    <a href="" style="color: #0098ff" ng-click="widthdrawAll()">
                         &nbsp;&nbsp;&nbsp;全部提现
                    </a>
                </p>
                <p class="cant-widthdraw">{{cantWidthdraw}}</p>
            </ion-item>
            <p ng-class="{true:'widthdraw-btn-grey',false:'widthdraw-btn-blue'}[whetherShow2]" ng-click="whetherShow2 || confirmWidthdraw(widthdrawMoney)" ng-disable="whetherShow2">
                确认
            </p>
            <div class="widthdraw-descri">
                提现说明
                <p>
                    1、10元及10元以下提现扣除1元手续费（小于等于1元无法提现）；
                    <br/>
                    2、11元及以上提现无手续费；
                    <br/>
                    3、每天最多可提现3次；
                    <br/>
                    4、提现申请的款项将在24小时到账；
                    <br/>
                    5、为了不影响您的提款，请务必正确填写开户行、银行账号、姓名；
                    <br/>
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>