<ion-view view-title="提现明细">
    <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/account" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content style="background: #eee;">
      <ion-list class="widthdraw-records-list">
        <ion-item ng-repeat="widthdrawItem in widthdrawItems" >
          <div class="fl" ng-switch="widthdrawItem.status">
            <p class="font-style3" ng-switch-when="0">未处理</p>
            <p class="font-style3" ng-switch-when="1">审核成功</p>
            <p class="font-style3" ng-switch-when="-1">审核失败</p>
            <p class="font-style3" ng-switch-when="2">已完成</p>
            <p class="font-style3" ng-cloak>{{widthdrawItem.updateDate}}</p>
          </div>
          <div class="fr">
            <p class="font-style7" ng-cloak>
              提现： {{widthdrawItem.money}}元
            </p>
          </div>
        </ion-item>

      </ion-list>
    </ion-content>
</ion-view>
