<ion-view  view-title="玩法说明">
    <!--<ion-nav-bar class="bar bar-dark bar-header ">
        <ion-nav-back-button class="button button-icon icon ion-ios-arrow-left"></ion-nav-back-button>
    </ion-nav-bar>-->

    <ion-content class="padding">
        <div class="detaileRules ">
            <p style="margin-bottom: 0">开奖时间：每周一、三、六20:30开奖</p>
            <p>玩法规则：5个红球+2个篮球 = 一注</p>
            <p>中奖说明：</p>
            <table>
                <tr>
                    <td style="width: 14%">奖级</td>
                    <td style="width: 36%; text-align: center" >中奖条件</td>
                    <td style="width: 20%">中奖条件</td>
                    <td style="width: 13%">奖金</td>
                </tr>
                <tr>
                    <td >一等奖</td>
                    <td style="text-align: left"><i></i><i></i><i></i><i></i><i></i><s></s><s></s></td>
                    <td >中5红+2蓝</td>
                    <td >浮动</td>
                </tr>
                <tr>
                    <td >二等奖</td>
                    <td ><i></i><i></i><i></i><i></i><i></i><s></s></td>
                    <td >中5红+1蓝</td>
                    <td >浮动</td>
                </tr>
                <tr>
                    <td rowspan="2">三等奖</td>
                    <td ><i></i><i></i><i></i><i></i><i></i></td>
                    <td >中5红</td>
                    <td rowspan="2">浮动</td>
                </tr>
                <tr>
                    <td ><i></i><i></i><i></i><i></i><s></s><s></s></td>
                    <td >中4红+2蓝</td>
                </tr>
                <tr>
                    <td rowspan="2">四等奖</td>
                    <td ><i></i><i></i><i></i><i></i><s></s></td>
                    <td >中4红+1蓝</td>
                    <td rowspan="2">200元</td>
                </tr>
                <tr>
                    <td ><i></i><i></i><i></i><s></s><s></s></td>
                    <td >中3红+2蓝</td>
                </tr>
                <tr>
                    <td rowspan="3">五等奖</td>
                    <td ><i></i><i></i><i></i><i></i></td>
                    <td >中4红</td>
                    <td rowspan="3">10元</td>
                </tr>
                <tr>
                    <td ><i></i><i></i><i></i><s></s></td>
                    <td >中3红+1蓝</td>
                </tr>
                <tr>
                    <td ><i></i><i></i><s></s><s></s></td>
                    <td >中2红+2蓝</td>
                </tr>
                <tr>
                    <td rowspan="4">六等奖</td>
                    <td ><i></i><i></i><i></i></td>
                    <td >中3红</td>
                    <td rowspan="4">5元</td>
                </tr>
                <tr>
                    <td ><i></i><s></s><s></s></td>
                    <td >中1红+2蓝</td>
                </tr>
                <tr>
                    <td ><i></i><i></i><s></s></td>
                    <td >中2红+1蓝</td>
                </tr>
                <tr>
                    <td ><s></s><s></s></td>
                    <td >2蓝</td>
                </tr>
            </table>
        </div>
    </ion-content>

</ion-view>



