<ion-view view-title="兑 换">

    <ion-content class="warp-bg">
        <div class="notice-text">
            <div class="icon-notice">
                <i class="ion-volume-high"></i>
            </div>
            <div style="float: left;padding-left:5px;width: 93%; margin-left: 6%; height: 50px;overflow: hidden">
                <div class="slide">
                    <ul class="slideUl">
                        <li
                            ng-repeat="winning in winningShow track by $index"
                            ng-show="winning.lotteryID == 2?LottoId='大乐透':winning.lotteryID == 31?LottoId='排列3':LottoId='排列5'">
                            <div class="row">
                                <div class="col"><span >{{winning.phone}}</span>中<span>{{LottoId}}</span>,<span>{{winning.winamt }}</span>元</div>
                            </div>
                        </li>
                        <li
                            ng-repeat="winning in winningShow track by $index"
                            ng-show="winning.lotteryID == 2?LottoId='大乐透':winning.lotteryID == 31?LottoId='排列3':LottoId='排列5'">
                            <div class="row">
                                <div class="col"><span >{{winning.phone}}</span>中<span>{{LottoId}}</span>,<span>{{winning.winamt }}</span>元</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row worldCup">
            <div class="col col-44">
                <a href="" ng-click="goToExchange3D()">
                    <img ng-src="{{imgUrl_1}}"  alt="">
                </a>
            </div>
            <div class="col col-44">
                <a href="" ng-click="goToExchange5D()">
                    <img ng-src="{{imgUrl_2}}"  alt="">
                </a>
            </div>
        </div>
        <div class="row home-icon">
            <div class="col col-44" style="margin-right: 4%">
                <a href="" ng-click="goToExchangeBigLotto2(true)">
                    <nav >大乐透<i ></i></nav>
                    <img src="./img/BigLotto2.png" alt="" style="width: 100px">
                    <h5 style="color: #ec7600;">中奖率低，奖金高</h5>
                    <div class="title-intro">
                        <h6>每周一、三、六开奖,单注可中1000万</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>

            <div class="col col-44" style="margin-left: 0">
                <nav style="width: auto;padding-right: 1rem">更多彩种<i ></i></nav>
                <!--<img src="./img/bbcp.png" alt="" class="qrimg">-->
                <img src="./img/bbsj.png" alt="" class="qrimg">

                <div class="title-intro qrCode">
                    <h6>长按二维码关注</h6>
                    <h6>更多玩法等你来</h6>
                </div>
            </div>
        </div>

        <!--<div class="row home-icon">
            <div class="col col-44">
                <a href="" ng-click="goToExchange3D()">
                    <nav>排列3<i></i></nav>
                    <img src="./img/exchange3.png" alt="">
                    <h5 style="letter-spacing: 0.2px">中奖率高，奖金低</h5>
                    <div class="title-intro">
                        <h6>每天20：30开奖 单注奖金1040元</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
            <div class="col col-44">
                <a href="" ng-click="goToExchange5D()">
                    <nav>排列5<i></i></nav>
                    <img src="./img/exchange5.png" alt="">
                    <h5>中奖率中等，奖金中等</h5>
                    <div class="title-intro">
                        <h6>每天20：30开奖 单注奖金10万</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row home-icon">
            <div class="col" style="margin-right: 4%">
                <a href="" ng-click="goToExchangeBigLotto2(true)">
                    <nav style="width: 24%">大乐透<i style="right: -15%;"></i></nav>
                    <img src="./img/BigLotto2.png" alt="" style="width: 100px">
                    <h5 style="color: #ec7600;">中奖率低，奖金高</h5>
                    <div class="title-intro">
                        <h6>每周一、三、六开奖,单注可中1000万</h6>
                        <span>2元/注</span>
                    </div>
                </a>
            </div>
            &lt;!&ndash;<div class="col col-44">
                <nav style="width: 50%">更多彩种<i></i></nav>
                &lt;!&ndash;<img src="./img/bbcp.png" alt="" class="qrimg">&ndash;&gt;
                <img src="./img/bbsj.png" alt="" class="qrimg">

                <div class="title-intro qrCode">
                    <h6>长按二维码关注</h6>
                    <h6>更多玩法等你来</h6>
                </div>
            </div>&ndash;&gt;
        </div>-->
        <div class="tips-img">
            <img src="./img/tips-img.png" alt="">
            <p >多投多中奖哦！</p>
        </div>
        <!--<button ng-click="modal.show()">BTN</button>-->
    </ion-content>
</ion-view>


