<!-- modal弹窗 老用户获得彩票 -->
<ion-modal-view id="modalAccount2">
    <div class="account-modal2">
        <div class="cancel-pop" ng-click="cancelPop()"><i class="ion-close-round"></i></div>
        <img ng-src="{{imgagesUrl}}" alt="获得一注彩票" />
        <div class="account-style1" ng-cloak="">{{successOrFaild}}</div>
         <div class="modalBtn">
             <button class="button button-royal" ng-click="cancel()" ng-if="hideBtn">{{hideText}}</button>
             <button class="button button-royal" ng-click="makeSure()" ng-if="showBtn" >{{showText}}</button>
         </div>       
    </div>
</ion-modal-view>
