<ion-view view-title="提现">
    <!-- <ion-nav-bar class="light bg1">
        <ion-nav-buttons ng-click="" side="left">
            <a class="button button-icon ion-ios-arrow-left light" href="#/tab/account" style="font-size: 1.5em;line-height: 31px;">
            </a>
        </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-content style="background: #eee;" id="scrollBugTwo">
        <p class="good-news" style="text-indent: 30px;margin-top: 22px;">
            好消息，奖金余额也可以兑换彩票了！
        </p>
        <ion-list class="widthdraw-list list-borderless">
            <ion-item style="padding: 22px 30px 16px">
                <p style="margin-bottom: 15px;">
                    提现金额 (元)
                </p>
                    <i class="ion-social-yen loc1">
                    </i>
                    <!-- <input type="tel" name="" class="widthdraw-amount" autofocus="autofocus" placeholder=""  ng-model="widthdrawMoney.money" ng-change="whetherOK()" /> -->
                    <span class="widthdraw-amount" ng-cloak>{{widthdrawMoney.money}}</span>

            </ion-item>
            <p ng-class="{true:'widthdraw-btn-grey',false:'widthdraw-btn-blue'}[whetherShow2]" ng-click="whetherShow2 || confirmWidthdraw(widthdrawMoney)" ng-disable="whetherShow2">
                确认
            </p>
            <div class="widthdraw-descri">
                提现说明
                <p>
                    1.奖金帐户余额小于20元时，余额可以继续用于彩票兑换;
                    <br/>
                    2.奖金帐户超过20元（含）时，除继续兑换彩票外，也可进行提现;
                    <br/>
                    3.申请提现：即指一次性将奖金帐户余额全部提取，每次提现扣除1元手续费;
                    <br/>
                    4.提现到账时间为2个工作日，遇法定节假日顺延;
                    <br/>
                    5.为了不影响您的提现，请务必正确填写开户行、银行账号、姓名。
                    <br/>
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>