<!-- 提示框-->
<ion-modal-view class="tipsWarp  padding">
    <div class="tips">
        <h4>百宝彩票提示</h4>
        <div class="arrow"><img src = "./img/arrow.png" alt = ""></div>
        <div class="tipsContent row">
            <div class="col col-30">
                <img src = "./img/add.png" alt = "">
                <span>点击右上角</span>
                <div class="spot">
                    <i></i><i></i><b> > </b>
                </div>
            </div>
            <div class="col col-30">
                <img src = "./img/browser.png" alt = "">
                <span>在浏览器中打开</span>
                <div class="spot">
                    <i></i><i></i><b> > </b>
                </div>
            </div>
            <div class="col col-30">
                <img src = "./img/bbload.png" alt = "">
                <span>即可下载</span>
            </div>
        </div>
        <span class="tipsFoot"></span>
    </div>
</ion-modal-view>
