/*公共样式*/

.fl {
  float: left;
}

.fr {
  float: right;
}


/**********tab-account.html************/

.bg0 {
  background: #f5f5f9;
}

.bg1 {
  background: -webkit-linear-gradient(to right, #422f8b, #0761ad);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(to right, #422f8b, #0761ad);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(to right, #422f8b, #0761ad);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #422f8b, #0761ad);
  /* 标准的语法 */
}

.bg2 {
  background: -webkit-linear-gradient(#095eab, #3a3590);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#095eab, #3a3590);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#095eab, #3a3590);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#095eab, #3a3590);
  /* 标准的语法 */
}

.bg3 {
  text-align: center;
  background: -webkit-linear-gradient(#392883, #15469e);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#392883, #15469e);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#392883, #15469e);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#392883, #15469e);
  /* 标准的语法 */
}

.item.bg3 {
  margin: 0;
}

.account-list .item div, .account-list .bg3 .col {
  font-size: 16px;
  color: #fff;
}

.account-list .account-question {
  width: 10px;
  vertical-align: top;
}

.account-list .accountForLoc {
  position: relative;
  display: inline-block;
  width: 10px;
}

.account-list div.account-answer {
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  z-index: 99;
  top: -4px;
  right: -22px;
  width: 250px;
  padding: 15px 15px 45px;
  text-align: left;
  white-space: normal;
  color: #ff3600;
  background: url('../img/accountBg1.png') center no-repeat;
  background-size: contain;
}

.account-list div.account-answer h5 {
  margin: 19px 0 5px;
}

.bg2 h2 {
  font-size: 75px;
}

.account-modal .f18, .f18 {
  font-size: 18px;
}

.account-list .have-border {
  margin-bottom: 6px;
  border-width: 1px;
  border-top: 1px solid #e1e1e1;
  border-bottom: none;
}

.account-list .account-common {
  margin: 30px 13%;
  padding: 3% 0;
  text-align: center;
  border-radius: 4px;
}

.account-list .account-bg-blue {
  color: #fff;
  background: #2c4198;
}

.account-list .account-bg-none {
  display: block;
  color: #2c4198;
  border: 1px solid #a5a5a6;
}

.account-list .badge-style1
{
  right: 20px;
  background-color: #c01919;
  color: #fff;
}


#modalAccount,
#modalAccount2 {
  position: absolute;
  background: rgba(0, 0, 0, .6);
}

.account-modal {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.account-modal ion-item:first-child {
  font-size: 20px;
  padding-left: 16px;
  text-align: center;
}

.account-modal img {
  width: 25px;
  vertical-align: middle;
}

.account-modal .disable-class .item-content {
  background-color: #ccc;
}

.account-modal .radio-icon {
  color: #387ef5;
}

    /*老用户获得彩票的modal*/

.account-modal2
{
  position: absolute;
  top: 50%;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 25px 0;
}

.account-modal2 .cancel-pop
{
  position: absolute;
  right: 10px;
  top:10px;
  font-size: 20px;
  color: #666;
  width: 30px;
  height: 30px;
}

.account-modal2 .account-style1
{
  color: #d21e1e;
  font-size: 14px;
  margin: 5px;
}

.account-modal2 .account-style2
{
  text-decoration: underline;
}


/*这是流程是首先进入完善资料页面的css,确定后再删除*/


/*.chooseCompleteInfo
{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 11;
    position: absolute;
    text-align: center;
}

.chooseCompleteInfo .prompt
{
    position: fixed;
    left: 50%;
    top:20%;
    transform: translate(-50%,0);
    width: 280px;
}

 .chooseCompleteInfo .prompt .item
{
    margin-left: 0;
    margin-right: 0;
}

.chooseCompleteInfo .prompt h4
{
    border-bottom: 2px solid #255fb3;
    color: #255fb3;
}

.chooseCompleteInfo .prompt p
{
    white-space: normal;
}

.chooseCompleteInfo .prompt .row
{
    padding: 0
}

.chooseCompleteInfo .prompt .col:first-child
{
    border-right: 1px solid rgb(221,221,221);
    color:#666;
}

.chooseCompleteInfo .prompt .col
{
    padding: 10px;
    color: #255fb3;
}
 */


/**********completeInfo.html************/

.complete-info-list .item {
  margin: 7px 30px -1px;
  padding-left: 16px;
  border-width: 0 0 1px 0;
  background: #eee;
}

.account-modal ion-item div, .complete-info-list .item-input div {
  display: inline-block;
  width: 29px;
  padding-right: 10px;
}

.complete-info-list .error {
  min-width: 78px;
  color: red;
  font-size: 12px;
}

.img_001, .img_002, .img_003, .img_004, .img_005, .img_006, .img_008, .img_009, .img_010, .img_011, .img_012 {
  background: url(../img/iconsBg.png) no-repeat;
}

.img_001 {
  height: 25px;
  background-position: 0 -6px;
}

.img_002 {
  height: 38px;
  background-position: -50px 0;
}

.img_003 {
  height: 16px;
  background-position: -100px -11px;
}

.img_004 {
  height: 20px;
  background-position: -150px -9px;
}

.img_005 {
  height: 19px;
  background-position: -201px -9px;
}

.img_006 {
  height: 25px;
  background-position: -250px -6px;
}

.img_008 {
  width: 25px;
  height: 25px;
  background-position: -300px -6px;
}

.img_009 {
  width: 25px;
  height: 23px;
  background-position: -350px -7px;
}

.img_010 {
  width: 25px;
  height: 19px;
  background-position: -401px -10px;
}

.img_011 {
  width: 25px;
  height: 19px;
  background-position: -450px -10px;
}

.img_012 {
  width: 25px;
  height: 17px;
  background-position: -500px -10px;
}

.complete-info-list .loc1 {
  background-position: -175px 0;
}

.complete-info-list .loc2 {
  background-position: -150px 0;
}

.complete-info-list .loc3 {
  background-position: -200px 0;
}

.complete-info-list .loc4 {
  background-position: -250px 0;
}

.complete-info-list .loc5 {
  background-position: -225px 0;
}

.complete-info-list .loc6 {
  background-position: -125px 0;
}

.complete-info-list img, .payList img {
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.complete-info-list .completeInfoNote {
  font-size: 10px;
  text-align: center;
  white-space: normal;
  color: #d21e1e;
  border-width: 0;
}

.complete-info-list .comform-edit-info {
  display: block;
  width: 80%;
  margin: 0 auto 30px;
  padding: 3% 0;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  /*  background: #2c4198;*/
}

.complete-info-list .comform-edit-info1 {
  background: #999;
}

.complete-info-list .comform-edit-info2 {
  background: #2c4198;
}

/**********completeInfo.html************/
.widthdraw-records-list .font-style8
{
  width: 90px;
  height: 30px;
  line-height: 10px;
  font-size: 14px;
  margin-top: 8px;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  background-color: #c01919;
}

.widthdraw-records-list .font-style9
{
  font-size: 18px;
  color: #1a1a1a; 
}

.widthdraw-records-list .font-style10
{
  font-size: 16px;
  color: #666; 
  margin-top: 6px;
}


/**********completeInfo.html************/

.complete-info-succeed {
  text-align: center;
}

.complete-info-succeed .item, .complete-info-succeed .item-content {
  padding: 8px;
  background: #eee;
}

.complete-info-succeed .info-succeed-img {
  padding: 50px 0 25px;
}

.complete-info-succeed a.item-content {
  text-decoration: underline;
  color: #ff3600;
}


/**********widthdraw.html************/

.widthdraw-list .widthdraw-amount {
  font-size: 40px;
  display: inline-block;
  height: 42px;
  background: transparent;
}

.widthdraw-list ion-item:first-child {
  border-bottom-width: 2px;
}

.widthdraw-list .loc1 {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}

.widthdraw-list .padding0 {
  padding: 5px 16px;
}

.widthdraw-list .padding0 span {
  margin-left: 4px;
  color: #0098ff;
}

.widthdraw-list .widthdraw-btn-blue {
  margin: 30px 8%;
  padding: 3% 0;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: #2c4198;
}

.widthdraw-list .widthdraw-btn-grey {
  margin: 30px 8%;
  padding: 3% 0;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: #ccc;
}

.widthdraw-list .item {
  background: #eee;
}

.widthdraw-list .cant-widthdraw {
  color: #d11d1d;
}

.widthdraw-list .widthdraw-descri {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  color: #000;
}

.widthdraw-list .widthdraw-descri p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 5px;
  text-align: left;
  color: #d11d1d;
}


/**********prizeRecords.html************/

.prize-records-list .font-style2 {
  font-size: 12px;
  color: #666;
}

.prize-records-list .font-style3 {
  font-size: 20px;
  color: #1a1a1a;
}

.prize-records-list .font-style4 {
  font-size: 12px;
  color: #1a1a1a;
}

.prize-records-list .font-style6 {
  font-size: 20px;
  color: #d11d1d;
}

.prize-records-list .prize-records-all, .all-orders-list .prize-records-all, .widthdraw-records-list .prize-records-all {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.prize-records-list .prize-records-all img, .widthdraw-records-list .prize-records-all img, .all-orders-list .prize-records-all img {
  width: 30%;
  margin: 40px 0 10px;
}

.all-orders-list .font-style1, .widthdraw-records-list .font-style1, .order-detail-list .font-style1, .prize-records-list .font-style5 {
  color: #d11d1d;
}

.all-orders-list .font-style2, .all-orders-list .font-style4 , .widthdraw-records-list .font-style2, .order-detail-list .font-style2, .order-detail-list .font-style4 {
  font-size: 13px;
  color: #666;
}

.prize-records-list .font-style1, .all-orders-list .font-style3, .widthdraw-records-list .font-style3, .order-detail-list .font-style3 {
  color: #1a1a1a;
}

.all-orders-list .font-style5, .order-detail-list .font-style5 {
  font-weight: bold;
  color: #d11d1d;
}

.order-detail-list .explain-info
{
  color: #d11d1d;
  font-size: 12px;
  line-height: 25px;
  margin-left: 20px;
}

.all-orders-list .each-order {
  position: relative;
  margin-top: 5px;
}

.all-orders-list .each-order:first-child {
  margin-top: 0;
}

.all-orders-list .prize-img {
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 50%;
  width: 80px;
  transform: translate(-50%, 0);
}


/**********orderDetail.html************/

.order-detail-list .detail {
  padding: 30px;
}

.order-detail-list .detail>div {
  line-height: 25px;
  margin-top: 10px;
}

.order-detail-list .line-height {
  line-height: 40px;
  display: inline-block;
}

.order-detail-list .dis-inlineblock {
  display: inline-block;
  vertical-align: top;
}

.order-detail-list .font-style6 {
  font-size: 20px;
  font-weight: bold;
  color: #d11d1d;
}

.order-detail-list .ball {
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  background: #d11d1d;
}

.exchange-fail
{
  margin: 30px 13%;
  padding: 3% 0;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  background: #2c4198;
}

.order-detail-list .open-time {
  font-size: 12px;
  color: #d11d1d;
}


/**********widthdrawRecords.html************/

.widthdraw-records-list .font-style7 {
  font-size: 20px;
  padding-top: 10px;
  color: #1a1a1a;
}