/*
    样式重置
*/
* {
    font-family: 新宋体;
}

a {
    text-decoration: none;
}

/*
    首页 兑换
*/
.warp-bg {
    background-color: #f2f2f2;
}

.home-icon {
    padding: 0 0;
    margin: 15px 0;
}

.home-icon img {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-top: 15%;
}

.home-icon .col {
    width: 100%;
    height: 100%;
    background-color: white;
    margin-left: 4%;
}

.col-44 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 44%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 44%;
    -ms-flex: 0 0 44%;
    flex: 0 0 44%;
    max-width: 44%;
}

.home-icon h3 {
    padding-left: 6px;
    margin: 0 0;
}

.title-intro {
    border-top: 1px solid #f2f2f2;
}

.title-intro h5 {
    padding-left: 5px;
    color: #ed7600;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1px;
}

.title-intro span {
    padding-left: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
}

/*兑换   排列3*/

.bar .back-button.hide, .bar .buttons .hide{
    display: inline-block;
}

.num-arrange-3 {
    padding:0;
}

.num-arrange-3 .col-20{
    text-align: center;
    padding-top: 15px;
    color: #036bb4;
    font-weight: bold;
}

.order-btns .col {
    text-align: center;
}

.arrange-3-bg-white,
.arrange-3-bg-red {
    width: 2.4em;
    height: 2.4em;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 2.4em;
    margin: 4px 4px;
    display: inline-block;
}

.arrange-3-bg-red{
    border: solid 1px #d11d1d;
    background-color: #d11d1d;
}

.arrange-3-bg-white {
    background-color: #fffefb;
    border: solid 1px #989898;
    color: #959595;
}

/*兑换   排列5*/

/*兑换   大乐透不追加*/
.bar.bar-stable .title {
    color: #036bb4;
    font-weight: bold;
    background-color: #ffffff;
    margin: 0 0;
}

.scroll-bottom {
    bottom: 160px;
}

.advert-img,
.advert-img .col {
    padding: 0 0;
}

.advert-img img {
    width: 100%;
}

.num-sum-red {
    border-bottom: solid 1px #e2e2e2;
    padding: 5px 0 8px 3%;
}

.red-ball-bg-white {
    width: 2.9em;
    height: 2.9em;
    border: solid 1px #d11d1d;
    background-color: #fff4fb;
    color: #d11d1d;
    border-radius: 50%;
    text-align: center;
    line-height: 2.9em;
    margin: 4px 1.0%;
    display: inline-block;
}

.red-ball-bg-red {
    width: 2.9em;
    height: 2.9em;
    border: solid 1px #d11d1d;
    background-color: #d11d1d;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 2.9em;
    margin: 4px 1.0%;
    display: inline-block;
}

.num-sum-blue {
    padding: 8px 0 0 3%;
}

.blue-ball-bg-white {
    width: 2.9em;
    height: 2.9em;
    border: solid 1px #3f97d5;
    background-color: #fff4fb;
    color: #3f97d5;
    border-radius: 50%;
    text-align: center;
    line-height: 2.9em;
    margin: 4px 1.0%;
    display: inline-block;
}

.blue-ball-bg-blue {
    width: 2.9em;
    height: 2.9em;
    border: solid 1px #3f97d5;
    background-color: #3f97d5;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 2.9em;
    margin: 4px 1.0%;
    display: inline-block;
}

.order-btns {
    height: 160px;
    /*border-top: 1px solid #a2a2a2;*/
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.order-btns .col-67 {
    text-align: center;
}

.order-btns .col-67 h4 {
    color: #0b2c89;
    font-size: 1.0em;
    font-weight: bold;
    margin: 3px 0;
}

.order-btns .col-67 p {
    color: #a2a2a2;
    font-size: .8em;
    margin: 0 0;
}

.order-btns .col-33 img {
    width: 85%;
}

.order-btns .col-50 {
    text-align: center;
}

.order-btns .col-50 .button {
    border-color: transparent;
    background: #00548b;
    background: -o-linear-gradient(top, #0070b2, #15236a);
    background: -ms-linear-gradient(top, #0070b2, #15236a);
    background: -moz-linear-gradient(top, #0070b2, #15236a);
    background: -webkit-linear-gradient(top, #0070b2, #15236a);
    color: white;
    margin: 0;
    padding: 2px 15px;
    min-width: 52px;
    min-height: 30px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}

.show-red-ball i,
.show-blue-ball i {
    width: 2em;
    height: 2em;
    color: #fff4fb;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    margin: 4px 3px;
    display: inline-block;
}

.show-red-ball i {
    border: solid 1px #d11d1d;
    background-color: #d11d1d;

}

.show-blue-ball i {
    border: solid 1px #3f97d5;
    background-color: #3f97d5;
}

/*兑换   大乐透不追加详情*/
.bar-lightBlue{
    background: #ffffff;
    color: #036ebc;
    font-weight: bold;
}

.content-160{
    bottom: 160px;
    top: 88px;
}

.h44 {
    height: 44px;
}

.h44 .button {
    color: white;
    border-color: transparent;
    background: #00548b;
    background: -o-linear-gradient(top, #0070b2, #15236a);
    background: -ms-linear-gradient(top, #0070b2, #15236a);
    background: -moz-linear-gradient(top, #0070b2, #15236a);
    background: -webkit-linear-gradient(top, #0070b2, #15236a);
}

.btn-30 {
    margin: 0 15px;
}

.h44 a {
    min-height: 40px;
    line-height: 39px;
    padding: 0;
}

.h44 a.button.icon:before,
.betting-detail-ul a.button .icon:before {
    margin-top: 0
}

.h44 a.btn-30:before {
    line-height: 39px;
    margin-left: 20%;
}

.betting-detail-ul li {
    padding: 10px 40px;
}

.betting-num i {
    width: 1.8em;
    height: 1.8em;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8em;
    margin: 3px 0.5%;
    display: inline-block;
    float: left;
    margin: 0 2px;
}

.num-bg-red i {
    background: #e42112;
}

.num-bg-blue i {
    background: blue;
}

.betting-detail-footer {
    background: #fff;
    color: #000;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.betting-detail-footer div {
    width: 100%;
    margin: 0 auto;
}

.betting-detail-footer div p:first-child {
    margin: 13px 0 0 0;
    height: 30px;
    line-height: 30px;
}

.betting-detail-footer .bigLotto-input1 {
    width: 4rem;
    border: 1px solid #ccc;
    display: inline-block;
    background: transparent;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    line-height: 30px;

}

.betting-detail-footer .bigLotto-input2 {
    width: 18px;
    height: 18px;
    top: 17px;
    left: -20px;
}

.checkbox input:disabled:checked:before, .checkbox input:disabled:checked + .checkbox-icon:before {
     background: #e42112;
}

input.bigLotto-input2:checked:before {
    background: #e42112;
    border-color: #e42112;
}

.checkbox input:after {
    top: 20%;
    left: 15%;
}

.font-red {
    color: red;
}

.button-liner-gradiend{
    color: white;
    margin: 6px auto;
    min-height: 40px !important;
    max-width: 90%;
    border-color: transparent;
    background: #00548b;
    background: -o-linear-gradient(top, #0070b2, #15236a);
    background: -ms-linear-gradient(top, #0070b2, #15236a);
    background: -moz-linear-gradient(top, #0070b2, #15236a);
    background: -webkit-linear-gradient(top, #0070b2, #15236a);
}

.popup-heads{
    position: relative;
    top: -47px;
    width: 110%;
    left: -11px;
    height: 40px;
}

.alert-left span {
    display: inline-block;
    width: 28%;
}

.confirmPopup-heads{
    position: relative;
    top: -10px;
    width: 110%;
    left: -11px;
    border-radius: 4px;
    height: 60px;
}

.button-darkBlue{
    background: #132d8e;
    color: white;
    border-radius: 5px;
}

/*大乐透往期开奖详情*/
.bar-linerBlue{
    color: white;
    border-color: transparent;
    background: #00548b;
    background: -o-linear-gradient(right, #0070b2, #15236a);
    background: -ms-linear-gradient(right, #0070b2, #15236a);
    background: -moz-linear-gradient(right, #0070b2, #15236a);
    background: -webkit-linear-gradient(right, #0070b2, #15236a);
}

.h40{
    top: 84px;
}

.notice {
    border-bottom: 1px solid #f4f4f4;
}

.notice .noticeText {
    padding: 3px 6px;
    color: #11288e;
}

.notice i {
    margin-left: 5px;
    font-size: x-large;
    color: #11288e;
}

.history-time{
    padding: 6px 16px;
}

.history-time .row{
    padding: 0 5px;
}

.history-time .row .col{
    padding: 0;
}

.history-time p{
    font-size: .6em;
    color: #a2a2a2;
}

.history-time ins{
    float: right;
    text-decoration: none;
}


















